body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; 
    color: #333;
    margin: 0;
    padding: 0;
}

#main-header {
    background-color: #4e8bc5; 
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 2.5em;
    color: #ffca28; 
}

.description {
    font-size: 1.2em;
}

#characters {
    padding: 20px;
    background-color: #a7c0d4; 
}

.section-title {
    color: #f06292; 
    font-size: 2em;
    margin-bottom: 10px;
}

.character {
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.character img {
    width: 150px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

#show-info {
    padding: 20px;
    background-color: #ffeb3b; 
    color: #333;
}

.paragraph {
    line-height: 1.6;
}

#main-footer {
    background-color: #37474f; 
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
#contenedor{
    width: 900px;
}